* {
    margin: 0;
    padding: 0;
}

.home, .dropdown, .dropbtn {
    color:white;
}
    
@media screen and (max-width:600px){.topnav,.navbar{text-align:center}}
@media (max-width:600px){.dropdown{display:none!important}}
@media (max-width:992px) and (min-width:601px){.small, .opennav, .topnav{display:none!important}}
@media (min-width:993px){.small, .opennav, .topnav{display:none!important}}

.small {
    display:none!important;
    position: absolute;
    right: 0%;
    top: 50px;
}

.opennav {
    float: right;
    padding: 12px 0px;
}

.topnav {
    float: left;
}

.show {
    display:block!important;
}

.button {
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    background-color: #3e8e41;
    color: white;
    padding: 15.5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    float: left;
    font-size: 18px;
    background-color: #333;
    opacity: 0.5;
    color: white;
}

.link {
    padding: 12px 24px;
    list-style-type: none;
}

.home, .dropdown, .dropbtn {
    color:white;
}

a:link
{
   color: white;
   text-decoration: none;
}
a:visited
{
   color: white;
   text-decoration: none;
}
a:hover
{
   color: white;
   text-decoration: none;
}
a:active
{
   color: white;
   text-decoration: none;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif
}

h1, dropbtn  {
    font-family: "Montserrat", sans-serif
}

.menu {
    list-style-type: none;
    position:fixed;
    width:100%;
    z-index:1;
    top: 0px;
    background-color: #333333;
    text-align: left;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    left: 0px;
    right: 0px;
    opacity: 0.5;
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.menu:hover {
    opacity: 1;
}

.dropbtn {
    background-color: #333333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.home {
    text-decoration: none;
    background-color: #3e8e41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown1 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown-content1 {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 2;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.dropdown-content1 a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown1:hover .dropbtn {
    background-color: #3e8e41;
     width: 100%;
}
.header {
    margin: auto;
    padding-bottom: 18px;
    padding-top: 128px;
    background-image: url("../img/sample.jpg");
    min-height: 400px;
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

#header-text {
    font-family: 'Pattaya', sans-serif;
    margin: 16px;
    font-size: 64px;
    
}

.para {
    text-align: center;
    padding: 64px 8px;
    margin: auto;
}

.w {
    margin: auto;
    text-align: center;
    max-width: 980px;
}

.text {
    padding-bottom: 32px;
    padding-top: 32px;
}

.text2 {
    color: gray;
}


.footer {
    padding: 64px 0;
    text-align: center;
    opacity: 0.6;
}

.foot-text {
    padding: 32px 0px;
    font-size: 32px;
}

h1 {
    font-family: 'Pattaya', sans-serif;
}

.img {
    border-radius: 4px;
    max-width:100%;
    opacity: 0.7;
    height: 480px;
    position: relative;
    float: left;
    margin: 16px;
}

.img:hover {
    opacity: 1;
}